{% extends "base.html" %}
<!--{% load static %}-->
{% block content %}
    <div class="container">
        <div class="justify-content-center">

            <h1>Sign Up</h1>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}"
                         role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% if form.errors %}
                <div class="alert alert-danger">
                    <strong>Some errors found</strong>
                </div>
            {% endif %}
            <form class="mt-5" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {% for field  in form %}
                    <div class="form-group row ml-auto">
                        {{ field.label_tag }}
                        <div class="col-sm-9">
                            {{ field }}
                            {% if field.errors %}
                                <div class="errorlist">
                                    <ul>
                                        {% for error in field.errors %}
                                            <li style="color: crimson"><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <input type="submit" name="" value="Register">
            </form>

        </div>
    </div>
{% endblock %}