{% extends "base.html" %}
<!--{% load static %}-->

{% block title %}Search results{% endblock title %}

{% block content %}
    <div class="container">
        <div class="justify-content-center">
            <div class="media row border-bottom mt-2">
                <h2>Search results</h2>
            </div>

            {% if not question_list %}
                <span>No results found</span>
            {% endif %}


            {% for question in question_list %}
                <div class="media row border-bottom mt-2">
                    <div class="col-sm-1 text-center">
                        <strong>{{ question.rating }}</strong> Votes
                    </div>
                    <div class="col-sm-1 text-center">
                        <strong>{{ question.answer_set.count }}</strong> Answers
                    </div>
                    <div class="media-body col-sm-10 ml-3">
                        <h5>
                            <a href="{% url 'question' question.slug %}">{{ question.title }}</a>
                        </h5>
                        <div class="row">
                            <div class="col-sm-8">
                                {% for tag in question.tags.all %}
                                    <a href="/tags?q={{ tag.name }}" class="badge badge-secondary">{{ tag.name }}</a>
                                {% endfor %}
                            </div>
                            <div class="col-sm-4 q-info">
                                <i class="fas fa-user"></i>
                                <span>{{ question.author.username }}</span>
                                <p>asked: {{ question.created_at }}</p>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
            {% if is_paginated %}
                <div class="pagination mb-5 mt-5">
                    <div class="page-links row">
                        {% if page_obj.has_previous %}
                            <a class="page-link col-m-5 text-center" href="/?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                        <div class="page-current col-m-5 ml-3 mr-3">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                        </div>
                        {% if page_obj.has_next %}
                            <a class="page-link col-m-5 text-center"
                               href="/?page={{ page_obj.next_page_number }}">next</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}